body {
    margin: 0;
    padding: 0;
    background-image: url(equipmentscopy.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.logo-container {
margin-top: 40px;
width: 100%;

}


.logo-img {
width: 145px;
position: absolute;
left: 550px;
}


.signup-box {
position: absolute;
width: 420px;
margin: 40px auto;
background: rgba(0,0,0,0.55);
padding: 40px;
border-radius: 15px;
top: 175px;
left: 500px;
}


.input-group {
margin-bottom: 18px;
}


.input-group input {
width: 100%;
padding: 14px;
border: none;
border-radius: 20px;
background: #000;
color: white;
font-size: 14px;
}


.terms {
font-size: 11px;
text-align: center;
margin-top: 10px;
color: #ccc;
}


.terms span {
color: white;
text-decoration: underline;
}


.signup-btn {
width: 100%;
padding: 15px;
margin-top: 20px;
background: orange;
color: black;
border: none;
border-radius: 25px;
font-weight: bold;
cursor: pointer;
font-size: 14px;
}


.login-link {
text-align: center;
margin-top: 15px;
font-size: 13px;
color: orange;
}

.muscletext {
  position: absolute;
  left: 700px;
  top: 20px;
  color: hsl(26, 80%, 45%);
  font-size: 25px;
  font-family: Dela Gothic One, sans-serif; 
}

.factorytext {
  position: absolute;
  left: 690px;
  top:  75px;
  color: rgb(212, 27, 27);
  font-size: 25px;
  font-family: Dela Gothic One, sans-serif; 
}
